# Core functionality - changes here should be rare!
/src/app.py                   @srikxcipher
/src/backend/database.py      @srikxcipher
/src/backend/routers/auth.py  @srikxcipher

# The frontend will need refactored soon to be more object oriented.
/src/static/   @srikxcipher
